[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "glibc"]
	path = glibc
	url = git://sourceware.org/git/glibc.git
[submodule "e2fsprogs"]
	path = e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "parted"]
	path = parted
	url = git://git.savannah.gnu.org/parted.git
